<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    {% case page.pagetype %}
      {% when 'is_post' %}
        {% include header.html %}
      {% when 'is_about'%}
      <div class="about-page">
        {% include header.html %}
      </div>
      {% when 'is_home' %}
      <div class="home-page">
        {% include header.html %}
      </div>
    {% endcase %}

    <div class="page-content">
      {{ content }}
    </div>
    <script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
